[mysqld]
character_set_server=utf8mb4
innodb_ft_enable_stopword=0
ngram_token_size=2

slow_query_log=on
slow_query_log_file=/var/log/mysql/mysql-slow.sql
long_query_time=0

[client]
default_character_set=utf8mb4
